.item {
    display: grid;
    grid-template-columns: 120px calc(100% - 150px - 2em) 30px;
    grid-column-gap: 1rem;
    padding: 1em 0;
    width: 100%;
    border-bottom: 1px solid var(--clr-netural-300-50);
}

.image {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    font-size: 1.5rem;
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity {
    display: flex;
    margin: .2rem 0;
    font-weight: 700;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
}

.quantity div {
    margin: 0 3px;
}

.quantity button {
    background-color: transparent;
    border: 0;
    color: var(--clr-primary);
    font-weight: 700;
    font-size: 2rem;
}

.total {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--clr-primary);
}

@media (min-width: 680px) {
    .item {
        border: 0;
    }
}