.wrapper {
    padding-bottom: 1rem;
    max-width: 400px;
    margin: auto;
}

.title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.paginator {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.button {
    width: 35px;
    height: 40px;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
    display: grid;
    place-items: center;
    background-color: transparent;
    font-weight: 700;
    border-radius: 5px;
}

.button.active {
    background-color: var(--clr-primary);
    color: var(--clr-netural-100)
}

.status {
    font-weight: 700;
    margin: 1em 0;
}

@media (min-width: 780px) {
    .wrapper {
        max-width: 900px;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--clr-neutral-700);
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        grid-gap: .5rem;
    }
}

@media (min-width: 1300px) {
    .wrapper {
        max-width: unset;
    }

    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}