*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-neutral-900: #000;
  --clr-neutral-900-50: rgba(0, 0, 0, 0.5);
  --clr-neutral-800: #1C1C1C;
  --clr-neutral-700: #262626;
  --clr-netural-300: #C7C7C7;
  --clr-netural-100: #FFF;
  --clr-primary: #1AB4E4;
  --padding: 1rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--clr-neutral-800);
  color: var(--clr-netural-100);
  position: relative;
}

img {
  width: 100%;
}

button,
a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}